.viewTasks {
    .title-menu {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 15px;
        background: #dcdcdc;
        align-items: center;
        li {
            font-size: 16px;
        }
        .item-1 {
            width: 30%;
        }
        .item-2 {
            width: 60%;
        }
        .item-3 {
            width: 10%;
        }
    }
}

.task-list {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    li {
        font-size: 16px;
        i {
            cursor: pointer;
        }
    }
    .item-1 {
        width: 28.7%;
        padding-right: 0.5rem;
    }
    .item-2 {
        width: 57.2%;
        padding-right: 0.5rem;
    }
    .item-3 {
        width: 11%;
        padding-left: 0.7rem;
    }
}