.p-tabview-nav {
  display: flex;
  width: 100%;
  height: 55px;
  list-style: none;
  padding: 15px;
  border: 2px solid #dadbdd;
  margin-bottom: 2rem !important;
}

.p-tabview-nav li.p-unselectable-text {
  position: relative;
  width: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.p-tabview-nav li.p-unselectable-text a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer !important;
}

.p-tabview-nav li.p-unselectable-text.p-tabview-selected.p-highlight {
  transition: all 0.4s ease;
}

.p-tabview-nav li.p-unselectable-text.p-tabview-selected.p-highlight::before {
  content: "";
  position: absolute;
  width: 65%;
  top: 51px;
  height: 2px;
  background: teal;
  z-index: 423;
  left: 18%;
}

.p-tabview-nav li.p-unselectable-text.p-tabview-selected.p-highlight a {
  font-weight: bold;
  color: teal;
}

.p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}

.viewTaskList ul {
  transition: all 0.3s ease;
}

.viewTaskList ul:nth-child(even) {
  background-color: #eaeaea;
}

.viewTaskList ul:nth-child(odd) {
  background-color: white;
}

.definitaion-task {
  padding: 15px;
}

.definitaion-task .title-task label {
  width: 130px;
}

.definitaion-task .title-task input {
  width: 30% !important;
}

.definitaion-task .description-task {
  margin-top: 2rem;
}

.definitaion-task .description-task label {
  width: 130px;
}

.definitaion-task .description-task textarea {
  width: 30%;
}

.definitaion-task .btn-add-task {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.definitaion-task .btn-add-task button {
  background: teal;
  color: white;
  font-size: 14px;
  width: 110px;
  height: 39px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.viewTasks .title-menu {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 15px;
  background: #dcdcdc;
  align-items: center;
}

.viewTasks .title-menu li {
  font-size: 16px;
}

.viewTasks .title-menu .item-1 {
  width: 30%;
}

.viewTasks .title-menu .item-2 {
  width: 60%;
}

.viewTasks .title-menu .item-3 {
  width: 10%;
}

.task-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 15px;
}

.task-list li {
  font-size: 16px;
}

.task-list li i {
  cursor: pointer;
}

.task-list .item-1 {
  width: 28.7%;
  padding-right: 0.5rem;
}

.task-list .item-2 {
  width: 57.2%;
  padding-right: 0.5rem;
}

.task-list .item-3 {
  width: 11%;
  padding-left: 0.7rem;
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center {
  z-index: 1101;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center .p-dialog.p-component.p-confirm-dialog.p-dialog-enter-done {
  width: 25%;
  background: #ffffff;
  padding: 15px;
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center .p-dialog-footer button {
  border: none;
  background: transparent;
  width: 50px;
  height: 25px;
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center .p-dialog-footer .p-button.p-component.p-confirm-dialog-reject {
  margin-right: 1rem;
  color: #359ff4;
}

.p-dialog-mask.p-component-overlay.p-dialog-visible.p-dialog-draggable.p-dialog-resizable.p-dialog-center .p-dialog-footer .p-button.p-component.p-confirm-dialog-accept {
  background: #c02929;
  color: #ffffff;
  border-radius: 5px;
}

.p-confirm-dialog-icon {
  margin-right: 8px;
}

.p-toast-message.p-toast-message-info.p-toast-message-enter-done,
.p-toast-message.p-toast-message-success.p-toast-message-enter-done {
  background: #ff6f6fad;
  padding: 15px;
  border-radius: 5px;
  margin-top: 1rem;
  position: relative !important;
  transition: all 0.3s ease;
}

.p-toast-message.p-toast-message-info.p-toast-message-enter-done .p-toast-message-content::before,
.p-toast-message.p-toast-message-success.p-toast-message-enter-done .p-toast-message-content::before {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  top: 0;
  height: 100%;
  background: red;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.p-toast-message.p-toast-message-info.p-toast-message-enter-done .p-toast-message-icon,
.p-toast-message.p-toast-message-success.p-toast-message-enter-done .p-toast-message-icon {
  margin-right: 0.5rem;
}

.p-toast-message.p-toast-message-success.p-toast-message-enter-done {
  background-color: #81ce62b8 !important;
}

.p-toast-message.p-toast-message-success.p-toast-message-enter-done .p-toast-message-content::before {
  background-color: green !important;
}

.p-dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  cursor: move;
}

.p-dialog-header .p-dialog-header-icons button {
  background: white;
  border: none;
}

/********
** style modal edited
*******/
.p-dialog.p-component.p-dialog-enter-done {
  background: white;
  padding: 15px;
}

.p-dialog-footer div {
  width: 18%;
  height: 38px;
}

.p-dialog-footer div .p-button.p-component {
  padding: 15px;
  background: teal !important;
  color: white;
  border-radius: 5px;
  width: 100% !important;
  height: 38px !important;
}

.title-input,
.description-input {
  display: flex;
}

.title-input input,
.title-input textarea,
.description-input input,
.description-input textarea {
  width: 70%;
}

.title-input label,
.description-input label {
  margin-bottom: 0;
  width: 20%;
}

.description-input {
  margin-top: 1.5rem;
}
/*# sourceMappingURL=main.css.map */